* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
 width: 100%;
 height: 100vh;
}
.header {
  padding-top: 60px;
  padding-bottom: 100px;
  background-image: url("../bookimg.jpg"); 
  background-position: center;
  background-size: cover; 
  &--h {
    color: #d15050;
    text-align: center;
    font-size: 4.1rem;
    font-weight: 600;

    strong{
        color: rgb(0, 0, 0);
    }
  }
}
.search-bar {
  width: 100%;
  margin-top: 20px;
  &--form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: auto;
  }
  &--input {
    appearance: none;
    background: none;
    outline: none;
    border-style: solid;
    border-color: rgb(148, 148, 148);
    border-width: thin;
    display: block;
    width: 60%;
    max-width: 500px;
    padding: 16px;
    margin-right: 6px;
    background-color: rgba(255, 255, 255, 0.596);
    font-size: 16px;
    transition: 0.4s;
  }
  &--input:hover,
  :focus {
    box-shadow: 0px 0px 8px 3px rgba(225, 127, 127, 0.772);
  }
  &--button {
    border: none;
    display: block;
    width: 20%;
    max-width: 100px;
    padding: 9px;
    background-color: rgb(148, 148, 148);
    color: aliceblue;
  
  }
  &--button:hover {
    background-color: rgba(225, 127, 127);
    box-shadow: 0px 0px 8px 3px rgba(225, 127, 127, 0.772);
    transition: 0.4s;
  }
}
.books-list {
  margin: auto;
  width: 100%;
  
  &--list {
    background-color: #b9b9b964;
    margin-top: 25px;
    padding-bottom: 40px;
  }
  &--header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}